<mat-card style="width:80%; margin-left: 8.5%">
    <table style="width: 100%;" cellspacing="0">
        <tr>
          <td style="width: 100%" align="center">
             <h2> Annbefalt budget: {{ dataservice.personalAndBusinessIntro.recomendedBudget }} kr</h2>
          <td>
        </tr>
      </table>
</mat-card>
<p><br></p>
<mat-card style="width:80%; margin-left: 8.5%">
  <div style="width:100%;height:600px;position:relative;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q-tuSSK1QYY" frameborder="0" allow="encrypted-media" style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;" allowfullscreen></iframe>
  </div>
</mat-card>
<p><br></p>
