<mat-horizontal-stepper [linear]="false" style="width: 90%; margin-left: 5%">
  <mat-step editable="true">
    <ng-template matStepLabel>Welcome</ng-template>
    <app-welcome></app-welcome>
    <div  style="margin-top: 20px; margin-left: 42%">
      <button mat-raised-button>Quit</button>
      <button mat-raised-button matStepperNext>Next</button>
      <p><br></p>
    </div>
  </mat-step>
  <mat-step editable="true"> 
    <ng-template matStepLabel>Business Details</ng-template>
    <app-personal-info></app-personal-info>
    <div  style="margin-top: 20px; margin-left: 42%">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext (click)="recomendedBudgetCal()">Next</button>
      <p><br></p>
    </div>
  </mat-step>
  <mat-step editable="true">
    <ng-template matStepLabel>Introduction video</ng-template>
    <app-intro-video></app-intro-video>
  </mat-step>
</mat-horizontal-stepper>
