<mat-horizontal-stepper [linear]="false" style="width: 90%; margin-left: 5%">
  <mat-step editable="true">
    <ng-template matStepLabel>Velkommen</ng-template>
    <app-welcome></app-welcome>
    <p><br></p>
    <table style="width: 100%;" cellspacing="0">
      <tr>
        <td style="width: 100%" align="center">
    <div>
      <button mat-raised-button (click)="navigateToSite()">Tilbake</button>
      <button mat-raised-button matStepperNext>neste</button>
      <p><br></p>
    </div>
      <td>
    </tr>
  </table>
  </mat-step>
  <mat-step editable="true"> 
    <ng-template matStepLabel>Spørsmål</ng-template>
    <app-personal-info></app-personal-info>
    <div  style="margin-top: 20px; margin-left: 42%">
      <button mat-raised-button matStepperPrevious>Tilbake</button>
      <button mat-raised-button (click)="validateEntries()">neste</button>
      <button mat-raised-button matStepperNext (click)="recomendedBudgetCal()" style="display: none" id='detailstovideo'>neste</button>
      <p><br></p>
    </div>
  </mat-step>
  <mat-step editable="true">
    <ng-template matStepLabel>Annbefalt budsjett</ng-template>
    <app-intro-video></app-intro-video>
    <div  style="margin-top: 20px; margin-left: 42%; margin-bottom: 5px">
      <button mat-raised-button (click)="navigateToSite()">Tilbake til hjemmesiden</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
