<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h1>Welcome</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p style="margin: 0px 100px 10px 100px;">
        Velkommen til Konsulentfirma Berge's online konsulent tjeneste. Her får du hjelp til å regne ut din bedrifts anbefalte markedsbudsjett! 
        Svar på alle spørsmålene på neste side å finn ut hvor mye du burde bruke på online markedsføring!
      </p>
    </mat-card-content>
</mat-card>