<mat-card style="width:80%; margin-left: 8.5%">
  <form class="example-form">
    <table cellspacing="0" style="width: 80%">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="nameFormControl" 
            [errorStateMatcher]="matcher"
            placeholder="Fornavn" [(ngModel)]="dataservice.personalAndBusinessIntro.name.firstName" required>
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Vennligst skriv inn Fornavn
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
          <input matInput [formControl]="lastFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Etternavn" [(ngModel)]="dataservice.personalAndBusinessIntro.name.lastName" required>
            <mat-error *ngIf="lastFormControl.hasError('required')">
              Vennligst skriv inn etternavn
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <mat-form-field style="width: 40%">
      <input matInput placeholder="Epost" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="dataservice.personalAndBusinessIntro.email" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Vennligst skriv inn en gyldig e-post
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        E-post er påkrevd
      </mat-error>
    </mat-form-field>
    <p>
      <mat-form-field style="width: 72.5%; height: 150px;">
        <textarea matInput 
        [formControl]="discriptionFormControl"
        [errorStateMatcher]="matcher" 
        placeholder="Beskriv bedriften din" style="height: 150px;" [(ngModel)]="dataservice.personalAndBusinessIntro.businessDiscription" required></textarea>
        <mat-error *ngIf="discriptionFormControl.hasError('required')" style="margin-top:5px">
          Beskrivelse er påkrevd
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="!ismoreLettersRequired()" style="font-size: 75%;margin-top:5px">
        Minimum {{minDescriptionLen - dataservice.personalAndBusinessIntro.businessDiscription.length}} bokstaver
      </mat-error>
    </p>
    <br>
    <mat-form-field style="width: 40%;">
      <input matInput 
      [formControl]="fieldFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Bransje" [(ngModel)]="dataservice.personalAndBusinessIntro.fieldOfWork" required>
      <mat-error *ngIf="fieldFormControl.hasError('required')">
        Arbeidsfelt er påkrevd
      </mat-error>
    </mat-form-field>
    <table style="width: 78.5%;" cellspacing="0">
      <tr>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47&nbsp;</span>
                <input type="tel" matInput 
                [formControl]="phoneFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Telefon nummer"  [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.company" required>
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                  Telefon nummer er påkrevd
                </mat-error>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47 &nbsp;</span>
                <input type="tel" matInput placeholder="Telefon nummer 1" [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.phone1" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47&nbsp;</span>
                <input type="tel" matInput placeholder="Telefon nummer 2" [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.phone2" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <br> 
  
  <h3> Spørsmål 1</h3>
  <p>
    Hvor mye ren brutto omsettning hadde din bedrift I fjor? 
    Er du en nystartet bedrift, kan du føre inn hvor mye du ser 
    for deg å omsette for ditt første fulle år i drift.
  </p>
  <form>
    <mat-form-field style="width: 25%;">
      <input type="text" matInput
      [formControl]="businessAnualIncomeFormControl"
      [errorStateMatcher]="matcher" 
      (keyup)="businessAnualIncomeKeyup($event)"
      min=0 [(ngModel)]="dataservice.personalAndBusinessIntro.businessAnualIncome" required>
      <span matSuffix><strong>kr</strong></span>
      <mat-error *ngIf="businessAnualIncomeFormControl.hasError('required')">
        Påkrevd felt
      </mat-error>
    </mat-form-field>
  </form>

  <h3> Spørsmål 2</h3>
  <p>
    Hva er målet ditt i forhold til vekst i år ?
  </p>
  <mat-radio-group class="example-radio-group" [(ngModel)]="dataservice.personalAndBusinessIntro.marketingGoalthisYear">
      <mat-radio-button class="example-radio-button" *ngFor="let expectedBusinessGoal of expectedBusinessGoals" [value]="expectedBusinessGoal.value">
        {{expectedBusinessGoal.txt}}
      </mat-radio-button>
      <mat-error *ngIf="!isSecondQnsed()">
        Påkrevd felt
      </mat-error>
  </mat-radio-group>


  <h3> Spørsmål 3</h3>
  <p>
    Hvilket type budsjett ser du etter ?
  </p>
  <mat-radio-group class="example-radio-group" [(ngModel)]="dataservice.personalAndBusinessIntro.budgetChangeForyear">
      <mat-radio-button class="example-radio-button" *ngFor="let expectedBudgetChange of expectedBudgetChanges" [value]="expectedBudgetChange.value">
        {{expectedBudgetChange.txt}}
      </mat-radio-button>
      <mat-error *ngIf="!isThirdQnsed()">
        Påkrevd felt
      </mat-error>
  </mat-radio-group>

  <h3> Spørsmål 4</h3>
  <p>
    Alle bedrifter er forskjellige. For å kunne gi et mer skreddersydd og riktig budsjett, 
    ser vi gjerne at du plasseser bedriften din i en av budsjett-kategoriene nevt under, 
    i forhold til hvor mye du mener er riktig for bedriften å burde bruke på online markedsføring årlig.
  </p>
  <mat-radio-group class="example-radio-group" [(ngModel)]="dataservice.personalAndBusinessIntro.businessAnualIncomeCatagorie">
    <mat-radio-button class="example-radio-button" *ngFor="let expectedBudgetChange1 of businessAnualIncomeCatagories" [value]="expectedBudgetChange1.value">
      {{expectedBudgetChange1.txt}}
    </mat-radio-button>
    <mat-error *ngIf="!isFourthQnsed()">
        Påkrevd felt
    </mat-error>
  </mat-radio-group>
</mat-card>