<mat-card style="width:80%; margin-left: 8.5%">
  <form class="example-form">
    <table cellspacing="0" style="width: 80%">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="nameFormControl" 
            [errorStateMatcher]="matcher"
            placeholder="First name" [(ngModel)]="dataservice.personalAndBusinessIntro.name.firstName" required>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Please enter First Name
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
          <input matInput [formControl]="lastFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Last Name" [(ngModel)]="dataservice.personalAndBusinessIntro.name.lastName" required>
            <mat-error *ngIf="lastFormControl.hasError('required')">
              Please enter Last Name
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <mat-form-field style="width: 40%">
      <input matInput placeholder="Email" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="dataservice.personalAndBusinessIntro.email" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <p>
      <mat-form-field style="width: 72.5%; height: 150px;">
        <textarea matInput 
        [formControl]="discriptionFormControl"
        [errorStateMatcher]="matcher" 
        placeholder="Describe your business" style="height: 150px;" [(ngModel)]="dataservice.personalAndBusinessIntro.businessDiscription" required></textarea>
        <mat-error *ngIf="discriptionFormControl.hasError('required')" style="margin-top:5px">
          Desription is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="!ismoreLettersRequired()" style="font-size: 75%;margin-top:5px">
        minimum {{minDescriptionLen - dataservice.personalAndBusinessIntro.businessDiscription.length}} letters required
      </mat-error>
    </p>
    <br>
    <mat-form-field style="width: 40%;">
      <input matInput 
      [formControl]="fieldFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Field of work" [(ngModel)]="dataservice.personalAndBusinessIntro.fieldOfWork" required>
      <mat-error *ngIf="fieldFormControl.hasError('required')">
        Field of work is required
      </mat-error>
    </mat-form-field>
    <table style="width: 78.5%;" cellspacing="0">
      <tr>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47&nbsp;</span>
                <input type="tel" matInput 
                [formControl]="phoneFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Company Telephone"  [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.company" required>
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                  Company Telephone is required
                </mat-error>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47 &nbsp;</span>
                <input type="tel" matInput placeholder="Telephone number 1" [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.phone1" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+47&nbsp;</span>
                <input type="tel" matInput placeholder="Telephone number 2" [(ngModel)]="dataservice.personalAndBusinessIntro.telephone.phone2" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <br>
  <h3> Question 1</h3>
  <p>
  How much did you spend on an average over the 3 last years on marketing ?
  </p>
  <form>
    <mat-form-field style="width: 40%;">
      <mat-icon matPrefix svgIcon="norw-curr"></mat-icon>
      <input type="number" matInput 
      [formControl]="average3MonthMarketingSpendFormControl"
      [errorStateMatcher]="matcher"
      min=0 [(ngModel)]="dataservice.personalAndBusinessIntro.average3MonthMarketingSpend" required>
      <mat-error *ngIf="average3MonthMarketingSpendFormControl.hasError('required')">
        Answer is required
      </mat-error>
    </mat-form-field>
  </form>

  <h3> Question 2</h3>
  <p>
  How much are you willing to spend on online marketing ?
  </p>
  <form>
    <mat-form-field style="width: 40%;">
      <mat-icon matPrefix svgIcon="norw-curr"></mat-icon>
      <input type="number" matInput 
      [formControl]="onlineSpendingWillFormControl"
      [errorStateMatcher]="matcher"
      min=0 [(ngModel)]="dataservice.personalAndBusinessIntro.onlineSpendingWill" required>
      <mat-error *ngIf="onlineSpendingWillFormControl.hasError('required')">
        Answer is required
      </mat-error>
    </mat-form-field>
  </form>

  <h3> Question 3</h3>
  <p>
      What changes will you make on your budget this year?
  </p>
  <mat-radio-group class="example-radio-group" [(ngModel)]="dataservice.personalAndBusinessIntro.budgetChangeForyear">
      <mat-radio-button class="example-radio-button" *ngFor="let expectedBudgetChange of expectedBudgetChanges" [value]="expectedBudgetChange.value">
        {{expectedBudgetChange.txt}}
      </mat-radio-button>
      <mat-error *ngIf="!isThirdQnsed()">
        Answer is required
      </mat-error>
  </mat-radio-group>

  <h3> Question 4</h3>
  <p>
    What is your bussiness annual income? 
  </p>
  <form>
    <mat-form-field style="width: 40%;">
      <mat-icon matPrefix svgIcon="norw-curr"></mat-icon>
      <input type="number" matInput
      [formControl]="businessAnualIncomeFormControl"
      [errorStateMatcher]="matcher" 
      min=0 [(ngModel)]="dataservice.personalAndBusinessIntro.businessAnualIncome" required>
      <mat-error *ngIf="businessAnualIncomeFormControl.hasError('required')">
        Answer is required
      </mat-error>
    </mat-form-field>
  </form>

  <h3> Question 5</h3>
  <p>
    What is the goal for your marketing this year?
  </p>
  <mat-radio-group class="example-radio-group" [(ngModel)]="dataservice.personalAndBusinessIntro.marketingGoalthisYear">
      <mat-radio-button class="example-radio-button" *ngFor="let expectedBusinessGoal of expectedBusinessGoals" [value]="expectedBusinessGoal.value">
        {{expectedBusinessGoal.txt}}
      </mat-radio-button>
      <mat-error *ngIf="!isFifthQnsed()">
        Answer is required
      </mat-error>
  </mat-radio-group>

  <h3> Question 6</h3>
  <p>
    What is the maximum amount you are willing to spend on online marketing?
  </p>
  <form>
    <mat-form-field style="width: 40%;">
      <mat-icon matPrefix svgIcon="norw-curr"></mat-icon>
      <input type="number" matInput 
      [formControl]="maxOnlineMarketingSpendWillFormControl"
      [errorStateMatcher]="matcher" 
      min=0 [(ngModel)]="dataservice.personalAndBusinessIntro.maxOnlineMarketingSpendWill" required>
      <mat-error *ngIf="maxOnlineMarketingSpendWillFormControl.hasError('required')">
        Answer is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-card>